

<section>
  <div class="hero-unit hero-unit-alt-1" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
      </div>
    </div>
  </div>
</section>

<section class="usa-grid">
	<div class="usa-grid-whole alt-button-section">
		<a class="usa-button alt-home-button" style="width: 326px;" href="{{ page.hero-button-link | prepend: site.baseurl }}">Learn and<br> Participate</a>
		<a class="usa-button alt-home-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">Build and<br> Manage a Project</a>
	</div>
</section>